.era {
    position:        relative;
    background:      url("/img/era-back.jpg") center bottom;
    background-size: cover;

    &:before {
        content:    "";
        @extend %absolute-extend;
        z-index:    0;

        background: rgba(0, 0, 0, 0.3);
    }

    .era_container {
        position: relative;
        overflow: hidden;
        z-index:  2;
    }

    .era_box {
        @extend %minimal-padding-indent;

        display:         flex;
        align-items:     center;
        justify-content: center;
        flex-direction:  column;

        height:          566px;

        color:           $white;
        background:      rgba(76, 129, 168, 0.71);

        text-align:      center;

        @include media('t-ipad-landscape') {
            @include left-section-box();

            text-align: left;

            padding:    0;
        }
    }

    .era_box-content {
        position: relative;

        @include media('t-ipad-landscape') {
            right: -198px;
        }
    }

    .era_title {
        @extend %font-family-UniSansHeavyCAPS;

        font-size:     26px;
        line-height:   1.2;
        margin-bottom: 15px;

        @include media('t-ipad') {
            font-size: 38px;
        }
    }

    .era_subtitle {
        @extend %description-small;

        margin-bottom: 20px;
    }

    .era_button {
        @extend %font-family-UniSansHeavyCAPS;

        font-size:      12px;

        display:        inline-block;

        background:     rgba(0, 0, 0, 0.24);
        text-transform: uppercase;

        border:         2px solid $white;
        color:          $white;

        padding:        12px 28px 10px;
    }
}