.form {
    color:          $black;
    padding-top:    50px;
    padding-bottom: 85px;

    .form_container {
        @extend %padding-schema;

        @include media('t-ipad-landscape') {
            display:         flex;
            align-items:     flex-start;
            justify-content: center;
        }
    }

    .form_box {
        margin-left:  auto;
        margin-right: auto;

        &.mod_left {
            flex-basis:    390px;
            max-width:     390px;

            padding-top:   22px;

            margin-bottom: 40px;

            text-align:    center;

            @include media('t-ipad-landscape') {
                margin-right:  22px;
                margin-bottom: 0;

                text-align:    right;
            }
        }

        &.mod_right {
            display:         flex;
            flex-direction:  column;
            justify-content: flex-start;

            flex-basis:      465px;
            max-width:       465px;

            @include media('t-ipad-landscape') {
                margin-left: 22px;
            }
        }
    }

    .form_title {
        @extend %font-title-2;

        margin-bottom: 18px;
    }

    .form_subtitle {
        @extend %description-big;

        margin-left: auto;
    }

    .form_question {
        @extend %description-big;

        padding-bottom: 10px;
        padding-left:   13px;
    }

    .form_area {
        @extend %placeholder;

        border:        1px solid $black;
        resize:        none;

        width:         100%;
        height:        82px;

        padding:       10px 15px;

        margin-bottom: 16px;
    }

    .form_text {
        @extend %placeholder;

        border:        1px solid $black;
        resize:        none;

        width:         100%;
        height:        50px;

        padding:       10px 15px;

        margin-bottom: 16px;
    }

    #file {
        display:    none;
        visibility: hidden;
    }

    .form_fields {
        @include media('t') {
            display:         flex;
            align-items:     start;
            justify-content: space-between;

        }

        & > * {
            width: 100%;

            @include media('t') {
                width: 223px;
            }
        }
    }

    .form_button {
        @extend %font-family-UniSansHeavyCAPS;

        display:         flex;
        align-items:     center;
        justify-content: center;

        border:          1px solid $black;
        height:          50px;

        text-transform:  uppercase;
        font-size:       11px;

        color:           $white;
        background:      $blue;
        cursor:          pointer;

    }

    .form_field {

        vertical-align: top;
        margin-bottom:  20px;

        @include media('t') {
            margin-bottom: 0;
        }

        &.mod_wide {
            width: 100%;
        }

        &.mod_models {
            .form_text {
                margin-bottom: 0;
            }
        }
    }

    .form_field-label {
        @extend %description-big;

        display:         flex;
        align-items:     center;
        justify-content: flex-start;

        width:           100%;
        border:          1px solid $black;
        height:          50px;
        padding-left:    12px;
        cursor:          pointer;
    }
}

.select2-container {
    width:         100% !important;
    margin-bottom: 16px;
}

.select2-container--default .select2-selection--single {
    border:         1px solid #000;
    border-radius:  0;
    height:         50px;
    vertical-align: middle;
    display:        flex;
    align-items:    center;

}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 11px;
}

.select2-container--default * {
    font-family: 'HelveticaNeueCyr' !important;
    font-weight: 300 !important;
    font-size:   13px;
}