.recently
{
    .recently_container
    {
        color: $white;

        @include media('d')
        {
            display:     flex;
            align-items: center;
        }
    }

    .recently_box
    {
        height: 220px;

        @include media('d')
        {
            height: 314px;
        }

        &.mod_left
        {
            @extend %minimal-padding-indent;

            display:         flex;
            align-items:     center;
            justify-content: center;
            background:      $blue;

            text-align:      center;

            @include media('d')
            {
                display:         flex;
                align-items:     flex-start;
                justify-content: flex-end;

                padding-top:     77px;
                padding-right:   25px;

                text-align:      right;

                @include left-section-box();
            }
        }

        &.mod_right
        {
            @include right-section-box();

            display:         flex;
            align-items:     center;
            justify-content: center;

            background:      $gray;
        }
    }

    .recently_title
    {
        @extend %font-title-2;

        @include media('d')
        {
            width: 185px;
        }
    }

    .recently_list
    {
        width:  200px;
        margin: auto;

        @include media('t-ipad')
        {
            width: 633px;
        }
    }

    .recently_box-content
    {
        position: relative;
    }

    .recently_swiper-button
    {
        position:        absolute;
        top:             50%;
        z-index:         3;

        display:         flex;
        align-items:     center;
        justify-content: center;

        border-radius:   50%;
        width:           30px;
        height:          30px;

        background:      rgba(255, 255, 255, 0.46);

        transform:       translateY(-50%);

        border:          none;
        color:           $white;

        cursor:          pointer;

        &:focus
        {
            outline: none;
        }

        &.mod_next
        {

            right: -40px;

            @include media('t-ipad-landscape')
            {
                right: -70px;
            }
        }

        &.mod_prev
        {
            left: -40px;

            @include media('t-ipad-landscape')
            {
                left: -70px;
            }
        }

        &.swiper-button-disabled
        {
            cursor:  default;
            opacity: 0.4;
        }
    }

    .recently_item
    {
        position:        relative;
        display:         flex;
        align-items:     center;
        justify-content: center;
        flex-direction:  column;

        width:           180px;
        height:          148px;

        border:          2px solid $white;

        & > *
        {
            @extend %font-title-5;

            display:        block;

            margin:         5px 0;

            text-transform: uppercase;
        }
    }
}