.statistics
{
    position:        relative;
    padding:         115px 0;

    background:      url("/img/statist-back.jpg") center bottom;
    background-size: cover;

    &:before
    {
        content:    "";
        @extend %absolute-extend;
        z-index:    0;

        background: rgba(0, 0, 0, 0.51);
    }

    .statistics_container
    {
        @extend %minimal-padding-indent;
        @include max-width-container(1320px);

        position: relative;
        z-index:  1;
    }

    .statistics_list
    {
        @include inlinegrid(1, 0px,40px);

        @include media('m-iphone6')
        {
            @include inlinegrid(2, 0px,40px);
        }

        @include media('t-ipad')
        {
            @include inlinegrid(4, 0px,0px);
        }
    }

    .statistics_item
    {
        text-align:     center;
        color:          $white;
        vertical-align: top;
    }

    .statistics_item-title
    {
        display:         flex;
        align-items:     center;
        justify-content: center;

        width:           83px;
        height:          83px;

        border:          5px solid $blue-light;

        border-radius:   50%;

        font-size:       26px;
        font-family:     'NEXTART';
        font-weight:     700;

        margin:          0 auto 13px;
    }

    .statistics_item-subtitle
    {
        @extend %description-big;
    }
}