.reviews
{
    padding-top:    64px;
    padding-bottom: 50px;

    .reviews_container
    {
        text-align: center;
    }

    .reviews_title
    {
        @extend %font-title-2;

        color:         $black;

        margin-bottom: 93px;
    }

    .reviews_list
    {
        @include max-width-container(1280px);
    }

    .reviews_item
    {
        display:        inline-flex;
        flex-direction: column;
        vertical-align: top;
        width:          246px;
        height:         369px;

        border:         2px solid $black;

        margin:         0 15px 40px 15px;
    }

    .reviews_item-image
    {
        width:               100%;
        height:              157px;
        background-size:     cover;
        background-position: center;
    }

    .reviews_item-content
    {
        display:         flex;
        flex-direction:  column;
        align-items:     center;
        justify-content: space-between;

        flex:            1;
        padding:         30px 20px;
    }

    .reviews_item-title
    {
        font-family:    'NEXTART';
        font-weight:    400;
        font-size:      15px;
        text-transform: uppercase;
    }

    .reviews_item-subtitle
    {
        font-family:    'NEXTART';
        font-weight:    400;
        font-size:      12px;
        text-transform: uppercase;
    }

    .reviews_item-stars
    {
        display:         flex;
        align-items:     center;
        justify-content: center;

        width:           100%;
    }

    .reviews_item-star
    {
        width:  20px;
        height: 19px;
        margin: 0 1px;
    }
}