.video
{
    color: $white;

    .video_container
    {
        @include media('t-ipad-landscape')
        {
            display:     flex;
            align-items: center;
        }

    }

    .video_box
    {
        &.mod_left
        {
            @extend %minimal-padding-indent;

            min-height:     200px;

            background:     $blue;

            text-align:     center;

            padding-top:    45px;
            padding-bottom: 45px;

            @include media('t-ipad-landscape')
            {
                @include left-section-box();

                display:         flex;
                align-items:     center;
                justify-content: flex-end;
                flex-direction:  column;

                min-height:      495px;

                text-align:      left;

            }

            .video_box-container
            {
                position: relative;

                @include media('t-ipad-landscape')
                {
                    @include max-width-container(240px);
                }

            }
        }

        &.mod_right
        {
            position:        relative;

            background:      url("/img/video-image.jpg") center bottom;
            background-size: cover;

            height:          495px;

            &:before
            {
                content:    "";
                @extend %absolute-extend;
                z-index:    0;

                background: rgba(0, 0, 0, 0.51);
            }

            @include media('t-ipad-landscape')
            {
                @include right-section-box();

                align-self: stretch;

                height:     auto;
            }

            .video_box-container
            {
                position:        relative;
                z-index:         2;

                display:         flex;
                align-items:     center;
                justify-content: center;
                min-height:      100%
            }
        }
    }

    .video_title
    {
        @extend %font-title-2;

        margin-bottom: 10px;
    }

    .video_subtitle
    {
        @extend %description-big;
        margin-bottom: 15px;
    }

    .video_description
    {
        @extend %font-family-HelveticaNeueCyr;

        font-size:   13px;
        font-weight: 300;
        line-height: 1.2;

        p
        {
            &:not(:last-child)
            {
                margin-bottom: 15px;
            }
        }
    }

    .video_play-icon
    {
        width:      90px;
        height:     90px;

        fill:       rgba(255, 255, 255, 0.68);

        transition: $transition;

        cursor:     pointer;

        &:hover
        {
            fill: $white;
        }
    }

    .video_iframe
    {
        position: absolute;
        top:      0;
        right:    0;
        bottom:   0;
        left:     0;
        z-index:  3;

        width:    100%;
        height:   100%;

        border:   none;
    }

}