.contacts
{
    @extend %minimal-padding-indent;

    padding-top:    100px;
    padding-bottom: 115px;

    .contacts_container
    {
        @include max-width-container(866px);

        display:         flex;
        align-items:     center;
        justify-content: center;
        flex-direction:  column;

        @include media('t-ipad')
        {
            align-items:     flex-start;
            justify-content: space-between;
            flex-direction:  row;
        }
    }

    .contacts_box
    {
        display:         flex;
        flex-direction:  column;
        justify-content: space-between;

        @include media('t-ipad')
        {
            min-height: 233px;
        }

        &.mod_left
        {
            margin-bottom: 40px;

            @include media('t-ipad')
            {
                margin-bottom: 0;
            }
        }

    }

    .contacts_logo
    {
        width:  165px;
        height: 165px;

        margin-bottom: 20px;

        @include media('t-ipad')
        {
            margin-bottom: 0;
        }
    }

    .contacts_title
    {
        @extend %font-family-UniSansThinCAPS;
        @include max-width-container(380px, 0);

        font-size:      21px;
        line-height:    1.2;

        text-transform: uppercase;
        text-align:     left;

        color:          $black;
    }

    .contacts_social
    {
        display:       flex;
        align-items:   center;

        margin-bottom: 20px;

        @include media('t-ipad')
        {
            margin-bottom: 0;
        }
    }

    .contacts_social-item
    {
        margin-right: 10px;
    }

    .contacts_social-link
    {
        display:         flex;
        align-items:     center;
        justify-content: center;

        width:           46px;
        height:          46px;

        border-radius:   50%;

        background:      $blue;
    }

    .contacts_social-icon
    {
        fill:   $white;

        width:  20px;
        height: 22px;
    }

    .contacts_item
    {
        margin-top: 5px;
    }

    .contacts_item-link
    {
        @extend %description-big;

        color:          $black;

        text-transform: lowercase;

        padding:        5px 0;
    }
}