.l-footer
{
    @extend %minimal-padding-indent;

    .footer-left
    {
        margin-bottom: 15px;

        @include media('t-ipad-landscape')
        {
            margin-bottom: 0;
        }
    }

    .footermenu-ridht
    {
        margin-bottom: 20px;

        @include media('t-ipad-landscape')
        {
            margin-bottom: 0;
        }
    }

    .b-footer-count nav .nav-list li
    {
        display:       block;
        margin-bottom: 10px;

        @include media('t-ipad-landscape')
        {
            display: table-cell;
            margin:  0;
        }
    }

    .b-footer-count nav .nav-list
    {
        display: block;

        @include media('t')
        {
            column-count: 2;
        }

        @include media('t-ipad-landscape')
        {
            display: table;
        }
    }

    @include media('t-ipad-landscape')
    {
        .footer-left
        {
            float: left;
        }

        .footer-right
        {
            float: right;
        }
    }
}