header
{
    position      :fixed;
    top           :0;
    left          :0;
    right         :0;
    z-index       :9;

    background    :white;

    border-bottom :1px solid $black;

    @include media('t-ipad-landscape')
    {
        position :static;
        border   :none;
    }
}

.header
{
    position :relative;

    .header_box
    {
        position        :relative;
        z-index         :10;

        display         :flex;
        align-items     :center;
        justify-content :flex-start;

        padding-left    :23px;

        @include media('t-ipad-landscape')
        {
            flex :1;
        }
    }

    .header_logo-icon
    {
        width  :50px;
        height :49px;
    }

    .header_container
    {
        display         :flex;
        align-items     :center;
        justify-content :flex-start;

        height          :72px;

        @include media('t-ipad-landscape')
        {
            justify-content :space-between;
        }
    }
    .header_menu
    {
        position        :fixed;
        top             :73px;
        left            :0;
        right           :0;
        z-index         :9;

        display         :flex;
        align-items     :center;
        justify-content :center;

        width           :100%;
        height          :0;

        background      :$white;

        overflow        :hidden;

        @include media('t-ipad-landscape')
        {
            display    :block;
            position   :relative;
            top        :0;
            min-height :100%;
            height     :100%;

            padding    :0;
        }

        &.mod_active
        {
            min-height :-webkit-calc(100% - 72px);
            min-height :-moz-calc(100% - 72px);
            min-height :calc(100% - 72px);
        }

        @include media('t-ipad-landscape')
        {
            display :block;
            padding :0;
        }
    }

    .header_menu-container
    {
        display         :flex;
        align-items     :center;
        justify-content :center;
        flex-direction  :column;

        height          :100%;

        padding         :15px;

        @include media('t-ipad-landscape')
        {
            padding :0;
        }
    }

    .header_menu-list
    {
        overflow-y :auto;

        @include media('t-ipad-landscape')
        {
            display         :flex;
            align-items     :center;
            justify-content :center;
        }

    }

    .header_location
    {
        position        :relative;
        z-index         :10;

        display         :flex;
        align-items     :center;
        justify-content :flex-start;

        width           :180px;
        max-width       :180px;
        height          :100%;

        color           :$black;

        padding-left    :15px;

        overflow        :hidden;

        @include media('t-ipad-landscape')
        {
            justify-content :center;

            background      :$blue;
            color           :$white;

            width           :197px;
            max-width       :197px;

            padding-left    :0;
        }
    }

    .header_location-pin
    {
        width        :16px;
        height       :29px;

        margin-right :12px;

        fill         :$black;

        @include media('t-ipad-landscape')
        {
            fill :$white;
        }
    }

    .header_location-title
    {
        @extend %font-title-4;
    }

    .header_menu-link
    {
        @extend %font-title-5;

        color          :$black;
        padding        :5px 0;

        text-transform :uppercase;
    }

    .header_menu-item
    {
        margin :10px 12px;

        @include media('t-ipad-landscape')
        {
            margin :0 12px;
        }
    }

    .hamburger
    {
        @extend %absolute-vertical-center;

        right   :10px;
        z-index :10;

        padding :10px;

        cursor  :pointer;

        &.mod_active
        {
            & .hamburger_line
            {
                display :none;
            }

            & .hamburger_container
            {
                &:before
                {
                    transform :rotateZ(45deg);
                    top       :9px;
                }

                &:after
                {
                    transform :rotateZ(-45deg);
                    bottom    :9px;
                }
            }

        }

        @include media('t-ipad-landscape')
        {
            display :none;
        }
    }

    .hamburger_container
    {
        position :relative;
        width    :24px;
        height   :20px;

        &:before, &:after
        {
            content          :"";
            position         :absolute;
            left             :0;

            width            :100%;
            height           :2px;

            background       :$black;
            transform-origin :center;
        }

        &:before
        {
            top  :0;
            left :0;
        }

        &:after
        {
            bottom :0;
            left   :0;
        }
    }

    .hamburger_line
    {
        @extend %absolute-center;

        display    :block;

        width      :100%;
        height     :2px;

        background :$black;
    }
}