@font-face
{
    font-family: 'NEXTART';
    src:         url('/fonts/NEXTART-Thin.eot?#iefix') format('embedded-opentype'),
                 url('/fonts/NEXTART-Thin.otf') format('opentype'),
                 url('/fonts/NEXTART-Thin.woff') format('woff'),
                 url('/fonts/NEXTART-Thin.ttf') format('truetype'),
                 url('/fonts/NEXTART-Thin.svg#NEXTART-Thin') format('svg');
    font-weight: 100;
    font-style:  normal;
}

@font-face
{
    font-family: 'NEXTART';
    src:         url('/fonts/NEXTART-Light.eot?#iefix') format('embedded-opentype'),
                 url('/fonts/NEXTART-Light.otf') format('opentype'),
                 url('/fonts/NEXTART-Light.woff') format('woff'),
                 url('/fonts/NEXTART-Light.ttf') format('truetype'),
                 url('/fonts/NEXTART-Light.svg#NEXTART-Light') format('svg');
    font-weight: 300;
    font-style:  normal;
}

@font-face
{
    font-family: 'NEXTART';
    src:         url('/fonts/NEXTART.eot?#iefix') format('embedded-opentype'),
                 url('/fonts/NEXTART.otf') format('opentype'),
                 url('/fonts/NEXTART.woff') format('woff'),
                 url('/fonts/NEXTART.ttf') format('truetype'),
                 url('/fonts/NEXTART.svg#NEXTART') format('svg');
    font-weight: 400;
    font-style:  normal;
}

@font-face
{
    font-family: 'NEXTART';
    src:         url('/fonts/NEXTART-SemiBold.eot?#iefix') format('embedded-opentype'),
                 url('/fonts/NEXTART-SemiBold.otf') format('opentype'),
                 url('/fonts/NEXTART-SemiBold.woff') format('woff'),
                 url('/fonts/NEXTART-SemiBold.ttf') format('truetype'),
                 url('/fonts/NEXTART-SemiBold.svg#NEXTART-SemiBold') format('svg');
    font-weight: 600;
    font-style:  normal;
}

@font-face
{
    font-family: 'NEXTART';
    src:         url('/fonts/NEXTART-Bold.eot?#iefix') format('embedded-opentype'),
                 url('/fonts/NEXTART-Bold.otf') format('opentype'),
                 url('/fonts/NEXTART-Bold.woff') format('woff'),
                 url('/fonts/NEXTART-Bold.ttf') format('truetype'),
                 url('/fonts/NEXTART-Bold.svg#NEXTART-Bold') format('svg');
    font-weight: 700;
    font-style:  normal;
}

@font-face
{
    font-family: 'UniSansThinCAPS';
    src:         url('/fonts/UniSansThinCAPS.eot?#iefix') format('embedded-opentype'),
                 url('/fonts/UniSansThinCAPS.otf') format('opentype'),
                 url('/fonts/UniSansThinCAPS.woff') format('woff'),
                 url('/fonts/UniSansThinCAPS.ttf') format('truetype'),
                 url('/fonts/UniSansThinCAPS.svg#UniSansThinCAPS') format('svg');
    font-weight: normal;
    font-style:  normal;
}

@font-face
{
    font-family: 'UniSansHeavyCAPS';
    src:         url('/fonts/UniSansHeavyCAPS.eot?#iefix') format('embedded-opentype'),
                 url('/fonts/UniSansHeavyCAPS.otf') format('opentype'),
                 url('/fonts/UniSansHeavyCAPS.woff') format('woff'),
                 url('/fonts/UniSansHeavyCAPS.ttf') format('truetype'),
                 url('/fonts/UniSansHeavyCAPS.svg#UniSansHeavyCAPS') format('svg');
    font-weight: normal;
    font-style:  normal;
}

@font-face
{
    font-family: 'HelveticaNeueCyr';
    src:         url('/fonts/HelveticaNeueCyr-Thin.eot?#iefix') format('embedded-opentype'),
                 url('/fonts/HelveticaNeueCyr-Thin.otf') format('opentype'),
                 url('/fonts/HelveticaNeueCyr-Thin.woff') format('woff'),
                 url('/fonts/HelveticaNeueCyr-Thin.ttf') format('truetype'),
                 url('/fonts/HelveticaNeueCyr-Thin.svg#HelveticaNeueCyr-Thin') format('svg');
    font-weight: 100;
    font-style:  normal;
}

@font-face
{
    font-family: 'HelveticaNeueCyr';
    src:         url('/fonts/HelveticaNeueCyr-Light.eot?#iefix') format('embedded-opentype'),
                 url('/fonts/HelveticaNeueCyr-Light.otf') format('opentype'),
                 url('/fonts/HelveticaNeueCyr-Light.woff') format('woff'),
                 url('/fonts/HelveticaNeueCyr-Light.ttf') format('truetype'),
                 url('/fonts/HelveticaNeueCyr-Light.svg#HelveticaNeueCyr-Light') format('svg');
    font-weight: 300;
    font-style:  normal;
}

@font-face
{
    font-family: 'HelveticaNeueCyr';
    src:         url('/fonts/HelveticaNeueCyr-Medium.eot?#iefix') format('embedded-opentype'),
                 url('/fonts/HelveticaNeueCyr-Medium.otf') format('opentype'),
                 url('/fonts/HelveticaNeueCyr-Medium.woff') format('woff'),
                 url('/fonts/HelveticaNeueCyr-Medium.ttf') format('truetype'),
                 url('/fonts/HelveticaNeueCyr-Medium.svg#HelveticaNeueCyr-Medium') format('svg');
    font-weight: 500;
    font-style:  normal;
}


