*
{
    box-sizing :border-box;
    padding    :0;
    margin     :0;
}

.svg-sprite
{
    display    :none;
    visibility :hidden;
}

li
{
    list-style-type :none;
}

a
{
    display         :block;
    text-decoration :none;
}

img
{
    display   :block;
    max-width :100%;
}

body
{
    &.noscroll
    {
        overflow :hidden;
    }
}

input, button, textarea
{
    &:focus
    {
        outline :none;
    }
}

input, textarea
{
    @extend %font-family-HelveticaNeueCyr;
    font-weight :500;
    font-size   :13px;
}