%absolute-extend
{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

%absolute-center
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

%absolute-vertical-center
{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

%absolute-horizontal-center
{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
