%font-family-UniSansThinCAPS
{
    font-family: 'UniSansThinCAPS';
}

%font-family-UniSansHeavyCAPS
{
    font-family: 'UniSansHeavyCAPS';
}

%font-family-HelveticaNeueCyr
{
    font-family: 'HelveticaNeueCyr';
}

%font-paragraph
{

}

%font-title-1
{

}

%font-title-2
{
    @extend %font-family-UniSansHeavyCAPS;

    font-size:   21px;
    line-height: 1.2;
}

%font-title-3
{

}

%font-title-4
{
    @extend %font-family-UniSansHeavyCAPS;
    font-size: 11px;
}

%font-title-5
{
    @extend %font-family-UniSansThinCAPS;
    font-size:      13px;
    letter-spacing: 1px;
}

%font-title-6
{

}

%description-big
{
    @extend %font-family-HelveticaNeueCyr;

    font-size:   13px;
    font-weight: 500;
    line-height: 1.1;
}

%description-small
{
    @extend %font-family-HelveticaNeueCyr;

    font-weight: 500;
    font-size:   12px;
    line-height: 1.2;
}

%input-form {
    display:          inline-block;

    margin-bottom:    12px;
    padding:          6px;

    background-color: rgba(0, 0, 0, 0.24);

    border:           none;
    outline:          none;

    color:            $white;
    font-family:      'HelveticaNeueCyr';
    font-size:        13px;
    font-weight:      300;
}