%minimal-padding-indent
{
    padding-left:  20px;
    padding-right: 20px;
}

%padding-schema
{
    @extend %minimal-padding-indent;
}

@mixin left-section-box()
{
    flex-basis: 398px;
    max-width: 398px;
}

@mixin right-section-box()
{
    flex: 1;

}

@mixin max-width-container($max-width,$margin:auto)
{
    max-width:    $max-width;
    width:        100%;
    margin-left:  $margin;
    margin-right: $margin;
}

%placeholder
{
    &::-webkit-input-placeholder
    { /* Chrome/Opera/Safari */
        color:       $black;
        font-family: 'HelveticaNeueCyr';
        font-size:   13px;
        font-weight: 300;
    }
    &::-moz-placeholder
    { /* Firefox 19+ */
        color:       $black;
        font-family: 'HelveticaNeueCyr';
        font-size:   13px;
        font-weight: 300;
        vertical-align: middle;
    }
    &:-ms-input-placeholder
    { /* IE 10+ */
        color:       $black;
        font-family: 'HelveticaNeueCyr';
        font-size:   13px;
        font-weight: 300;
        vertical-align: middle;
    }
    &:-moz-placeholder
    { /* Firefox 18- */
        color:       $black;
        font-family: 'HelveticaNeueCyr';
        font-size:   13px;
        font-weight: 300;
        vertical-align: middle;
    }
}


%placeholder-white
{
    &::-webkit-input-placeholder
    { /* Chrome/Opera/Safari */
        color:       $white;
        font-family: 'HelveticaNeueCyr';
        font-size:   13px;
        font-weight: 300;
    }
    &::-moz-placeholder
    { /* Firefox 19+ */
        color:       $white;
        font-family: 'HelveticaNeueCyr';
        font-size:   13px;
        font-weight: 300;
        vertical-align: middle;
    }
    &:-ms-input-placeholder
    { /* IE 10+ */
        color:       $white;
        font-family: 'HelveticaNeueCyr';
        font-size:   13px;
        font-weight: 300;
        vertical-align: middle;
    }
    &:-moz-placeholder
    { /* Firefox 18- */
        color:       $white;
        font-family: 'HelveticaNeueCyr';
        font-size:   13px;
        font-weight: 300;
        vertical-align: middle;
    }
}