

.auth {
    display: none;

    .auth_form {
        display:         flex;
        justify-content: center;
        flex-direction:  column;

        width:           179px;
        padding:         14px 24px;

        border:          2px solid #fff;
        border-top:      0;


        @include media('m-only') {
            margin: 0 auto;
        }
    }

    .auth_input {
        @extend %placeholder-white;
        @extend %input-form;
    }

    .auth_enter {
        @extend %input-form;

        width:  50px;
        height: 40px;
        margin: 0 auto 12px;
        border: 2px solid white;

        cursor: pointer;
    }

    .auth_reg {
        @extend %input-form;
        margin-bottom: 0;
    }
}