.reg-drivers {
    padding: 14px 24px;

    .reg-drivers_form {
        display:        flex;
        flex-direction: column;
        align-items:    center;
        margin:         0 auto;
        max-width:      240px;
    }

    .reg-drivers_row-3 {
        @include grid(3, 10px);
    }

    .reg-drivers_input {
        @extend %input-form;
        @extend %placeholder-white;

        width: 100%;
    }

    .reg-drivers_enter {
        @extend %input-form;

        width:  100%;
        margin: 0 auto 12px;
        border: 2px solid white;

        cursor: pointer;
    }

    .reg-drivers_title {
        @extend %description-small;
        margin-bottom: 10px;

        text-align:    left;
        align-self:    left;

        width:         365px;
    }

    .reg-drivers_policy {
        text-align:  center;

        @extend %description-small;

        font-weight: 300;
        font-size:   9px;
    }
}