.reg {
    display:  none;

    position: relative;
    top:      -2px;
    border:   2px solid #fff;

    &.mod_300 {
        @include media('t') {
            width: 300%;
        }
    }

    .reg_links {
        display: flex;
    }

    .reg_link {
        position:    relative;
        top:         -2px;
        left:        -2px;

        display:     inline-block;
        padding:     4px 30px;
        text-align:  center;

        border:      2px solid transparent;

        color:       $white;
        font-family: 'HelveticaNeueCyr';
        font-size:   13px;
        font-weight: 300;

        @include media('m-only') {
            padding: 4px 20px;
        }

        &.mod_2 {
            position: relative;
            left:     -4px;
        }

        &.mod_active {
            border: 2px solid #fff;
        }
    }

    .reg_tab {
        display: none;

        &.mod_active {
            display: block;
        }
    }
}

.reg-services {
    padding: 14px 24px;

    @include media('m-only') {
        padding: 8px 24px;
    }

    .reg-services_row-3 {
        @include media('m-only') {
            width: 100%;
        }

        @include media('t') {
            @include grid(3, 10px);
        }
    }

    .reg-services_input {
        @extend %input-form;
        @extend %placeholder-white;

        @include media('m-only') {
            width: 100%;
        }

        @include media('m-only') {
            margin-bottom: 2px;
        }
    }

    .reg-services_file {
        @extend %input-form;
        @extend %placeholder-white;

        position:   relative;
        height:     31px;

        text-align: center;

        cursor:     pointer;

        @include media('m-only') {
            width: 100%;
        }

        @include media('m-only') {
            margin-bottom: 2px;
        }
    }

    .reg-services_file-input {
        position: absolute;

        opacity:  0;
        display:  block;
        width:    100%;
        height:   100%;

        cursor:   pointer;
    }

    .reg-services_enter {
        @extend %input-form;

        width:  100%;
        margin: 0 auto 12px;
        border: 2px solid white;

        cursor: pointer;
    }
}